*ipynb
*jld
*jld2
output/
experiments/
debug/
oldresults/
oldpythonstuff/
data/other_data/cancer.csv
data/other_data/RNASeq-dataset.zip
theoryworkbooks/
synthetic/
realdata/
newsynthetic/
figures/
data/other_data/
models/genes_final/genes/
models/genes_final/genes_polya/
models/genes_final/genes_polyaD/
models/other_models/
models/flights_final/flights/
models/covid_final/covid/
models/birds_final/birds/
*key
debug/
helper/old_helper/
*.DS_Store
