*

!analysis/
!analysis/**
!models/
!models/**
!helper/
!helper/**
!data/
!data/**

!README.md
!.gitignore

*.ipynb
*.jld
*.jld2
*.DS_Store
*.key
*.RData
*.Rhistory

analysis/**/older*/
analysis/**/older*/**

models/STARmodels/
models/other_models/
models/genes_polya/

models/birds/birds_old/
models/covid/covid_old/
models/flights/flights_old/
models/genes/genes/
models/genes/genes_polya/
models/genes/genes_polyaD/

data/other_data/

helper/old_helper/
helper/OrderStatsSampling_fast.jl
